#pictures-nav
  #nav-container
    - breadcrumb :notifications
    = render "layouts/breadcrumbs"
    #action-buttons
      = link_to favorite_users_path, class: "btn btn-shaddow favorite-picture-link" do
        お気に入りした写真
      = link_to new_picture_path, class: "btn btn-shaddow new-picture-link" do
        投稿する

- notifications = @notifications.where.not(visitor_id: current_user.id)
#notifications
  #notifications__list
    #notifications__list__title
      %h2 通知一覧
    #notifications__list__contents
      - if @notifications.exists?
        = render notifications
      - else
        %p 通知はありません
  = paginate notifications