.user-header
  .user-header__name
    = @user.name
    = link_to edit_user_path(current_user), class: "user-edit-btn" do
      = icon('fa', 'cog')
  .user-header__icon
    = image_tag @user.image.url
  .user-menu
    = "投稿：#{@user.pictures.count} /"
    = "お気に入り獲得：#{@favorites_counts} /"
    フォロー：0 /
    フォロワー：0