.user-header
  .user-header__name
    = @user.name
    .follow-contents{id: "follow-#{@user.id}"}
      = render partial: "users/follow", lacals: { user: @user }
  .user-header__icon
    = image_tag @user.image.url
  .user-menu
    = link_to "投稿：#{@user.pictures.count} /", user_path(@user)
    = link_to "お気に入り獲得：#{@favorites_counts} /", popular_user_path(@user)
    = link_to "フォロー：#{@user.follow_users.count} /", following_user_path(@user)
    = link_to "フォロワー：#{@user.follower_users.count}", follower_user_path(@user)