.user-header
  .user-header__name
    = @user.name
    .follow-contents{id: "follow-#{@user.id}"}
      = render partial: "users/follow", lacals: { user: @user }
  .user-header__icon
    = image_tag @user.image.url
  .user-menu
    = "投稿：#{@user.pictures.count} /"
    = "お気に入り獲得：#{@favorites_counts} /"
    フォロー：0 /
    フォロワー：0