.form
  .form__title
    .form__title--active
      ユーザー編集
  = form_with(model: @user, local: true) do |f|
    = render "devise/shared/error_messages", resource: @user
    .field
      = f.label "ニックネーム"
      %br/
      = f.text_field :name, autofocus: true, maxlength: 20, placeholder: "Nickname"
    .field
      プロフィール画像
      = f.label :image, class: 'image_label' do
        = f.file_field :image, class: "file-input"
        .prev-contents
          .prev-content
            = image_tag @user.image.url, alt: "preview", class: "prev-image"
    .actions
      = f.submit "アカウント更新", class: "submit-btn"