#pictures-nav
  #nav-container
    - breadcrumb :follow
    = render "layouts/breadcrumbs"
    #action-buttons
      - if user_signed_in? && @user == current_user
        = link_to favorite_users_path, class: "btn favorite-picture-link" do
          お気に入りした写真
      = link_to new_picture_path, class: "btn new-picture-link" do
        投稿する

- if user_signed_in? && @user == current_user
  = render partial: "users/mypage_header", locals: { user: @user }
- else
  = render partial: "users/user_header", locals: { user: @user }

#users-index-nav
  = link_to 'フォロー', following_user_path(@user), class: "menu menu--active"
  = link_to 'フォロワー', follower_user_path(@user), class: "menu menu--no-active"
#users-index
  - if @users.present?
    - @users.each do |other|
      .user-box.box-shaddow
        = link_to "", user_path(other), class: "user-link"
        .user-box__top
          .user-wrapper
            .user-icon
              = image_tag other.image.url
            .user-name
              = other.name
          - if current_user != other
            .follow-contents{id: "follow-#{other.id}"}
              = render partial: "users/follow", locals: { user: other }
        .user-box__bottom
          - if other.pictures.present?
            .img-wrapper
              - other.pictures.reverse.first(3).each do |picture|
                = image_tag picture.image.url(:thumb)
          - else
            投稿がありません

  - else
    フォローしているユーザーがいません
= paginate @users