.pictures-nav
  .category-search
    = link_to 'カテゴリーから探す', categories_path
  .links
    - if user_signed_in? && @user == current_user
      = link_to favorite_users_path, class: "btn favorite-picture-link" do
        お気に入りした写真
    = link_to new_picture_path, class: "btn new-picture-link" do
      投稿する
- if user_signed_in? && @user == current_user
  = render partial: "users/mypage_header", locals: { user: @user }
- else
  = render partial: "users/user_header", locals: { user: @user }
.user-contents
  .user-contents__nav
    = link_to '新着', user_path(@user), class: "menu menu--no-active"
    = link_to '人気', popular_user_path(@user), class: "menu menu--active"
  .user-contents__body
    = render partial: "pictures/pictures", locals: { pictures: @pictures}