.pictures-nav
  - breadcrumb :popular_show
  = render "layouts/breadcrumbs"
  .front-back
    - if @previous.present?
      = link_to "/users/#{@user.id}/popular/#{@previous.id}", class: "page-btn" do
        = icon('fas', 'caret-left')
    - else
      = icon('fas', 'caret-left', class: "page-btn disappear")
    .front-back__count
      .front-back__count__top
        = link_to "#{@user.name}", user_path(@user)
        %span<> の人気投稿
      .front-back__count__bottom
        = "(#{@count}/#{@pictures.size})"
    - if @next.present?
      = link_to "/users/#{@user.id}/popular/#{@next.id}", class: "page-btn" do
        = icon('fas', 'caret-right')
    - else
      = icon('fas', 'caret-right', class: "page-btn disappear")
  .links
    = link_to new_picture_path, class: "btn new-picture-link" do
      投稿する
= render partial: "users/picture_show", locals: { picture: @picture }