#loading
  .loader

#pictures-nav
  #nav-container
    - if @user == current_user
      - breadcrumb :mypage
    - else
      - breadcrumb :user
    = render "layouts/breadcrumbs"
    #action-buttons
      - if user_signed_in? && @user == current_user
        = link_to favorite_users_path, class: "btn btn-shaddow favorite-picture-link" do
          お気に入りした写真
      = link_to new_picture_path, class: "btn btn-shaddow new-picture-link" do
        投稿する

- if user_signed_in? && @user == current_user
  = render partial: "users/mypage_header", locals: { user: @user }
- else
  = render partial: "users/user_header", locals: { user: @user }

#user-contents
  - if @pictures.present?
    .pictures-actions
      .menu
        = link_to slideshow_user_path(@user, params: {q: @params}), id: "slideshow-link" do
          = icon('fa', 'images')
          %span<>スライドショー
      = search_form_for @q, url: user_path(@user), class: "menu", id: "#select-sort" do |f|
        = f.select( :sorts, { '新着順': 'id DESC', '古い順': 'id ASC', 'お気に入りの多い順': 'favorites_count DESC', 'お気に入りの少ない順': 'favorites_count ASC' }, { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()' } )
  #user-contents__body
    .pictures-index
      - if @pictures.present?
        - @pictures.each do |picture|
          .picture.box-shaddow
            = link_to "/users/#{@user.id}/#{picture.id}" do
              = image_tag picture.image_url(:middle), class: "picture-image"
            .picture-info
              .picture-comments
                = icon('far', 'comment')
                = picture.comments_count
              .picture-favorite{id: "favorite-#{picture.id}"}
                = render partial: "pictures/favorite", locals: { picture: picture }
      - else
        投稿がありません
    = paginate @pictures