#loading
  .loader

.pictures-nav

  - breadcrumb :tag_show
  = render "layouts/breadcrumbs"

  .links
    = link_to new_picture_path, class: "btn new-picture-link" do
      投稿する

- if @pictures.present?
  .pictures-actions
    .menu
      = link_to slideshow_tag_path(@tag, params: {q: @params}), class: "slideshow-link" do
        = icon('fa', 'images')
        %span<>スライドショー
    = search_form_for @q, url: tag_path(@tag), class: "menu" do |f|
      = f.select( :sorts, { '新着順': 'id DESC', '古い順': 'id ASC', 'お気に入りの多い順': 'favorites_count DESC', 'お気に入りの少ない順': 'favorites_count ASC' }, { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()' } )

.pictures-index
  - if @pictures.present?
    - @pictures.each do |picture|
      .picture
        = link_to "/tags/#{@tag.id}/#{picture.id}" do
          = image_tag picture.image_url
        .picture-info
          .picture-comments
            = icon('far', 'comment')
            = picture.comments_count
          .picture-favorite{id: "favorite-#{picture.id}"}
            = render partial: "pictures/favorite", locals: { picture: picture }
  - else
    投稿がありません

= paginate @pictures