#account-form
  #account-form__title
    #account-form__title--active
      Log in
    = link_to "→ アカウント作成", new_user_registration_path, id: "account-form__title--other"
  #login_message
    = link_to '→ ゲストログインする', users_guest_sign_in_path, method: :post
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      Email
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"
    .field
      Password
      = f.password_field :password, autocomplete: "current-password", placeholder: "Password"
    = f.submit "ログイン", id: "submit-btn"