.pictures-index
  - if pictures.present?
    - pictures.each do |picture|
      .picture
        = link_to picture_path(picture) do
          = image_tag picture.image_url
        .picture-info
          .picture-title
          .picture-favorite{id: "favorite-#{picture.id}"}
            = render partial: "pictures/favorite", locals: { picture: picture }
  - else
    投稿がありません
= paginate pictures