%link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
%link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
%script{type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}

.slideshow-actions
  = link_to url, class: "back-btn btn" do
    = icon('fa', 'undo-alt') 
    %p 戻る
  #play-btn.btn
    = icon('fa', 'play')
    %p 再生
  #stop-btn.btn
    = icon('fa', 'stop')
    %p 停止

#slideshow-contents
  - pictures.each do |picture|
    .slide
      = image_tag picture.image.url
      .picture-actions
        = link_to "詳細をみる", picture_path(picture), class: "picture-link"
        .picture-favorite{id: "favorite-#{picture.id}"}
          = render partial: "pictures/favorite", locals: { picture: picture }
= paginate pictures