.post
  = form_with model: @picture, local: true do |f|
    .field
      .field__title
        %label<>タイトル
        %span<>必須
      .field__input
        = f.text_field :title, placeholder: "タイトルを入力して下さい"
    .field
      .field__title
        %label<>カテゴリー
        %span<>必須
      .field__input.category-input
        = f.collection_select :category_id, @parents, :id, :name, {selected: @parent.id}, {class: "select-default", id: "category-select"}
        = f.collection_select :category_id, @children, :id, :name, {selected: @child.id}, {class: "select-default", id: "children-categories"}
    .field
      .field__title
        %label<>画像選択
        %span<>必須
      .field__input
        = f.label :image, class: 'image_label' do
          = f.file_field :image, class: "file-input"
          .prev-contents
            - if @picture.image.present?
              .prev-content
                = image_tag @picture.image.url, alt: "preview", class: "prev-image"
            - else
              .default-prev
                = icon('far', 'image')

    .action
      = f.submit "更新する", class: "submit-btn"