#loading
  .loader

#pictures-nav
  #nav-container
    = link_to 'カテゴリーから探す', categories_path, id: "category-search", class: "btn-shaddow"

    = search_form_for @q, url: pictures_path, id: "search-home" do |f|
      = f.search_field :tags_name_cont, id: "keyword-input", placeholder: "キーワードで探す"
      #pictures-index-actions
        .menu
          = link_to slideshow_pictures_path(params: {q: @params}), id: "slideshow-link", class: "btn-shaddow" do
            = icon('fa', 'images')
        .menu#select-sort
          = f.select( :sorts, { '新着順': 'id DESC', '古い順': 'id ASC', 'お気に入りの多い順': 'favorites_count DESC' }, { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()' } )
      = button_tag type: "submit", class: "btn-shaddow" do
        = icon('fas', 'search')

    #action-buttons
      = link_to new_picture_path, class: "btn new-picture-link btn-shaddow" do
        投稿する

- if @pictures.present?
  .pictures-index.pictures-index--home
    - @pictures.each do |picture|
      .picture.box-shaddow
        = link_to picture_path(picture) do
          = image_tag picture.image_url(:middle), class: "picture-image"
        .picture-info
          .picture-comments
            = icon('far', 'comment')
            = picture.comments_count
          .picture-favorite{id: "favorite-#{picture.id}"}
            = render partial: "pictures/favorite", locals: { picture: picture }
  = paginate @pictures
- else
  .no-pictures
    投稿がありません