= render "layouts/header"
.post
  = render "devise/shared/error_messages", resource: @picture
  = form_with model: @picture, local: true do |f|
    .field
      .field__title
        %label<>タイトル
        %span<>必須
      .field__input
        = f.text_field :title, placeholder: "タイトルを入力して下さい"
    .field
      .field__title
        %label<>カテゴリー
        %span<>必須
      .field__input
        = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: "選択して下さい"}, {id: "category-select"}
    .field
      .field__title
        %label<>画像選択
        %span<>必須
      .field__input
        = f.label :image, class: 'image_label' do
          = f.file_field :image, class: "file-input"
          .prev-contents
            - if @picture.image.present?
              = image_tag @picture.image.url, alt: "preview", class: "prev-image"
            - else
              .default-prev
                = icon('far', 'image')

    .action
      = f.submit "投稿する", class: "submit-btn"