#post
  = form_with model: @picture, local: true do |f|
    .field
      .field__title
        %label<>画像アップロード
        %span<>必須
      .field__input
        = f.label :image, class: 'image_label' do
          = f.file_field :image, class: "file-input"
          .prev-contents
            .default-prev
              = icon('far', 'image')
    .field
      .field__title
        %label<>カテゴリー
        %span<>必須
      .field__input.category-input
        #main-category
          = f.collection_select :category_id, @parents, :id, :name, { prompt: "選択して下さい" }, { id: "category-select" }
        #sub-category
          %select#children-categories{:name => "picture[category_id]"}
            %option{:value => ""} 選択して下さい

    .field
      .field__title
        %label<>タグ
        %span.optional<>任意
      .field__input
        %ul#picture-tags
          = hidden_field_tag :all_tags_hidden, @all_tags

    = f.submit "投稿する", id: "pic-submit-btn"