%link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
%link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
%script{type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}

#slideshow-contents
  - @pictures.each do |picture|
    .slide
      = image_tag picture.image.url
      .actions
        = link_to "詳細をみる", picture_path(picture), class: "picture-link"
        .picture-favorite{id: "favorite-#{picture.id}"}
          = render partial: "pictures/favorite", locals: { picture: picture }
= paginate @pictures