.pictures-nav
  .category-search
    - if @category.root?
      - breadcrumb :parent_category
    - else
      - breadcrumb :child_category
    = render "layouts/breadcrumbs"
  #category-title
    .root-category
      - if @category.root?
        = link_to @category.name, category_path(@category), class: "category-name"
      - else
        = link_to @category.parent.name, category_path(@category.parent), class: "category-name"
    .categories
      - @category_links.each do |link|
        - if link == @category
          %span.current-category
            = link.name
        - else
          = link_to link.name, category_path(link), class: "category-links"
  .links
    = link_to new_picture_path, class: "btn new-picture-link" do
      投稿する

= render partial: "pictures/pictures", locals: { pictures: @pictures}