.header
  .header__left
    = link_to root_path, class: "logo header-menu" do
      Anytime Nature
    .index-select
      = link_to "#", class: "header-menu" do
        写真
      = link_to "#", class: "header-menu" do
        スライドショー
  .header__right
    = link_to "#", class: "header-menu" do
      新規登録
    = link_to "#", class: "header-menu" do
      ログイン