!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AnytimeNature
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .header
      .header__left
        = link_to root_path, class: "logo header-menu" do
          Anytime Nature
        .index-select
          = link_to root_path, class: "header-menu" do
            写真
          = link_to "#", class: "header-menu" do
            スライドショー
      .header__right
        - if user_signed_in?
          = link_to "#", class: "header-menu" do
            マイページ
          = link_to destroy_user_session_path, method: :delete, class: "header-menu" do
            ログアウト
        - else
          = link_to new_user_registration_path, class: "header-menu" do
            新規登録
          = link_to new_user_session_path, class: "header-menu" do
            ログイン
    = render 'layouts/flash'
    = yield
